* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color:cornflowerblue;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:"wdth" 100;
    font-size: 16px;
}

p {
    color:goldenrod;
    font-weight: 600;
    text-decoration: none;
}

.container {
    width: 95%;
    margin: auto;
}

/* logo y nombre con alineación */

.nav-pri{
    font-size: 27px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
    list-style: none;
}

.pri-brand {
    width: 50px;
    border-radius: 15px;
}

.nav-pri ul.nav-sec {
    flex: 1;
    margin-left: 30px;
}

hr {
    margin: 10px 0;
    background-color: orange;
    height: 4px;
}

/* login */

.form-container {
    width: 100%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-content {
    width: 100%;
    max-width: 475px;
    background-color: dodgerblue;
    padding: 50px 60px 70px;
    text-align: center;
    border-radius: 30px;
}

h1.form-tittle {
    font-size: 30px;
    margin-bottom: 50px;
    color: goldenrod;
    position: relative;
}

.input-box {
    border-radius: 3px;
    display: flex;
    align-items: center;
}

input {
    width: 100%;
    background: cornflowerblue;
    color: black;
    border: 0;
    outline: none;
    padding: 18px 15px;
}

input::placeholder {
    color: black;
    background-color: cornflowerblue;
}

.button-center {
    width: 100%;
    display: flex;
    justify-content: center;
}

.button-center button {
    flex-basis: 48%;
    font-size: 16px;
    background-color: goldenrod;
    color: cornflowerblue;
    height: 25px;
    border-radius: 10px;
    border: 0;
    outline: 0;
    cursor: pointer;
    margin-bottom: 25px;
    margin-top: 25px;
}

.button-center button:hover {
    opacity: 0.9;
}

#mensaje-error {
    text-align: center;
}

@media  (max-width: 1280px) {
    .form-container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body {
        color: red;
        font-family: Arial, Helvetica, sans-serif;
        height: 780px;
    }
}