*, ::after, ::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: cornflowerblue;

    display: flex;
    align-items: center;
}

/* logo y nombre con alineación */

.header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0; left: 0;
}

.container {
    max-width: 1200px;
    margin-bottom: auto;
    align-items: center;
}

.nav-pri{
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20px 0;
}

.nav-pri ul h3 {
    color: orange;
}

.nav-pri ul p {
    color: orange;
}

.pri-brand {
    width: 50px;
    border-radius: 15px;
}

.nav-pri ul.nav-sec {
    flex: 1;
    margin-left: 30px;
}

hr {
    margin: 10px 0;
    background-color: orange;
    height: 4px;
}

/* menú de barra lateral */

a {
    text-decoration: none;
    color: goldenrod;
    padding-left: 1.3rem;
}

a:hover {
    color: dodgerblue;
}

.sidebar {
    background-color: dodgerblue;
    width: max-content;
    border-radius: 10px;
    padding: 2rem 1rem;
}

.sidebar:hover .sidebar_element {
    grid-template-columns: 40px 1fr;
}

.sidebar_list {
    list-style: none;
    padding: 0;

    min-height: 650px;
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.sidebar_element {
    padding: .8rem 1.3rem;
    border-radius: 3px;

    display: grid;
    align-items: center;
    grid-template-columns: 40px 0fr;

    color: goldenrod;
    fill: goldenrod;

    transition: grid-template-columns .2s;
}

.sidebar_element:not(:has(.sidebar_icon--logo)):hover {
    background-color: goldenrod;
    color: dodgerblue;
    fill: dodgerblue;
    cursor: pointer;
}

.sidebar_element:has(.sidebar_icon--logo) {
    margin-bottom: 1rem;
}

.sidebar_icon {
    width: 100%;
    overflow: hidden;
    justify-content: center;
}

.sidebar_icon--logo {
    max-width: 30px;
}

.sidebar_icon--avatar {
    width: 40px;
    height: 40px;
    object-fit: cover;
}

.sidebar_logo {
    padding-left: 1.3rem;
}

.sidebar_hide {
    overflow: hidden;
}

.sidebar_element--avatar {
    margin-top: auto;
    text-wrap: nowrap;
    text-align: left;
}

.sidebar_title, .sidebar_info {
    padding-left: 1.3rem;
}





